* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #e9dfdf;
  font-family: Poppins, sans-serif;
}

hr {
  opacity: 0.5;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

/* CONTAINER */
.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  padding: 3.2rem;
}

.header #title {
  font-size: 3.2rem;
  font-weight: 700;
  color: #292828;
}

.button-header span {
  font-size: 1.6rem;
  font-weight: 700;
}

.header #title span {
  color: #f1cb00;
}

.button-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #f1cb00;
  color: #292828;
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

.header .button-header:hover {
  transform: scale(1.02);
  transition: 0.3s;
}

/* Container Palette */
#color-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  margin-top: 4rem;
}

.color {
  width: 4rem;
  height: 4rem;
  border: 1px solid black;
  cursor: pointer;
}

.color:hover {
  transform: scale(1.04);
  transition: 0.3s;
}

.color-black {
  background-color: black;
}

.color-yellow {
  background-color: #f1cb00;
}

.color-blue {
  background-color: #543af1;
}

.color-red {
  background-color: red;
}

/* PIXEL BOARD */
#pixel-board {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  margin: 3.2rem auto;
}

.pixel {
  background: white;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

/* BTN CLEAN */
.btn-clean {
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  color: #292828;
  display: block;
  border-radius: 0.2rem;
  width: 180px;
  background-color: #f1cb00;
  margin: 2.4rem auto;
  padding: 1rem;
  cursor: pointer;
}

/* FORM input*/

.container-button-form{
  max-width: 250px;
  margin: 0 auto;
  gap: 10px;
}

#form{
  display: flex;
  justify-content: center;
}

#form input{
  font-family: Poppins, sans-serif;
  font-size: 1.2rem;
  width: 70%;
  padding: 1rem;
  border: 1px solid #f1cb00;
  border-bottom-left-radius: 2px;
  border-top-left-radius: 2px;
}

#form button{
  font-family: Poppins, sans-serif;
  font-weight: 700;
  width: 30%;
  border: none;
  background-color: #f1cb00;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: pointer;
}

#form button:hover{
  background-color: #bea71f;
  transition: 0.3s;
  color: #e9dfdf;
}

